.tabs.block {
  width: 100%;
  font-family: sans-serif;
}

/* ラベルバー */
.tab-labels {
  display: flex;
  justify-content: center; /* 中央揃え */
  border-bottom: 1px solid #ccc;
}

.tab-labels > div {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  background: #eaeaea;
  transition: background 0.2s, color 0.2s;
}

.tab-labels > div.active {
  background: #fff;
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

/* コンテンツ領域 */
.tab-contents {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  background: #fff;
  box-sizing: border-box;
}

.tab-contents > div {
  display: none;
}

.tab-contents > div.active {
  display: block;
  width: 100%;
}










.tabs > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.tabs > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.tabs .cards-card-body {
  margin: 16px;
}

.tabs .cards-card-image {
  line-height: 0;
}

.tabs > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
